.books-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.br {
  width: 80%;
  margin: 0 4rem;
  height: 0.02rem;
  background-color: #e8e8e8;
}
