.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 10%;
  position: relative;
  top: 0;
  background-color: white;
  font-family: Montserrat, RobotoSlab, sans-serif;
  gap: 3rem;
}

.nav-bar > p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  color: #0290ff;
  font-size: 2.4rem;
  font-weight: bold;
}

.links-nav {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.links-nav > li > a {
  color: inherit;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
}

.user-logo {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 30px;
  position: absolute;
  right: 10%;
}

.user-logo > img {
  height: 100%;
}
